<!DOCTYPE html>
<html lang="en">

<style>
    #one_data_div {
        display: block;
        border-radius: 1px;
        background-color: lightgray;
        padding: 10px;
    }
    #name {
        font-size: 18px;
        font-family: Garamond,serif;
    }
    #owner {
        font-size: 18px;
        font-family: Garamond,serif;
    }
    #permissions {
        font-size: 18px;
        font-family: Garamond,serif;
    }
</style>

<h1>{{ title }}</h1>

<body>

{% for data_group in data_groups %}
    <div id = "one_data_div">

        <p id="name">Group name: <b>{{ data_group[1] }}</b></p>
        <p id="owner">Owner: <b>{{ data_group[2] }}</b></p>
        <p id="permissions">Read: <b>{{ data_group[3] }}</b></p>
        <p id="permissions">Write: <b>{{ data_group[4] }}</b></p>
        <p id="permissions">Owner: <b>{{ data_group[5] }}</b></p>

        <form action="/search_data/{{ data_group[1] }}">
            <input type="submit" value="View data in group">
        </form>

        {% if username != data_group[2] and username %}
        <form action="/negotiate/{{ data_group[1] }}/create">
            <input type="submit" value="Negotiate contract">
        </form>
        {% endif %}

    </div>
{% endfor %}

</body>
</html>
