<!DOCTYPE html>
<html lang="en">

<h1>Negotiate!</h1>

<body>

<form action="/negotiate" method="POST">
    <label for="item">Item:</label><br>
    <input type="text" id="item" name="item"><br>

    <label for="st_date">Start date:</label><br>
    <input type="text" id="st_date" name="st_date"><br>

    <label for="end_date">End date:</label><br>
    <input type="text" id="end_date" name="end_date"><br>

    <label for="role">Role:</label><br>
    <input type="text" id="role" name="role"><br>

    <label for="offering">Offer:</label><br>
    <input type="text" id="offering" name="offering"><br><br>

    <input type="submit" value="Submit">
</form>

</body>
</html>